body {
    place-self: center;
}

#hero-container {
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    /* height: 100vh */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 12fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 1fr 1fr;
    /* grid-template-columns: [col1-start] 65px [col1-end col2-start] 235px [col2-end col3-start] auto [col3-end col4-start] 100px [col4-end]; */
    /* grid-template-rows: [head-start] 60px [head-end body-start] auto [body-end foot-start] 60px [foot-end]; */
    grid-template-areas: 
        "links search . weather weather"
        ". . . . ."
        ". main main main ."
        ". focus focus focus ."
        "settings quote quote quote todo";
}
.main-container {
    display: grid;;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
      "time"
      "greeting";
}
.item-clock {
    grid-area: "time"
}

.item-greeting {
    grid-area: "greeting"
}



.links {
    grid-area: links;
}
.search {
    grid-area: search;
}
.focus {
    grid-area: focus;
}
.weather {
    grid-area: weather;
}
.main {
    grid-area: main;
}
.settings {
    grid-area: settings;
}
.quote {
    grid-area: quote;
}
.todo {
    grid-area: todo;
}
@media screen and (max-width: 400px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "focus focus focus"
        "weather weather weather"
        "quote quote quote"
        ""
            "links search . . weather" 
            ". focus focus focus ."
            "settings quote quote quote todo";
    }

}

@media screen and (max-height: 400) {
    .item-clock {
       display: none;
       grid-area: none;
    }
    .container {
        display: grid;
        grid-template-columns: 2fr 2fr 8fr 2fr 2fr;
        grid-template-rows: 1fr  4fr 1fr;
        /* grid-template-columns: [col1-start] 65px [col1-end col2-start] 235px [col2-end col3-start] auto [col3-end col4-start] 100px [col4-end]; */
        /* grid-template-rows: [head-start] 60px [head-end body-start] auto [body-end foot-start] 60px [foot-end]; */
        grid-template-areas: 
            "links search . . weather" 
            ". focus focus focus ."
            "settings quote quote quote todo";
    }

}