* {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    /* text-shadow: 0 1px 5px rgba(0,0,0,.1); */
}

.item-clock {
    font-size: 192px;
    letter-spacing: -8px;
}

.item-greeting {
    font-size: 48px;
    /* transition: transform .5s ease,opacity .5s ease; */
    
}

.focus-form {
    font-size: 36px;
}
#focus-input {
    width: 70%;
}
input {
    border: none;
    font-size: 24px;
    border-bottom: 2px solid white;
    background-color: transparent;
    height: 36px;
    outline: 0;
}